@import url(account.css);

body{
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-logo {
    filter: drop-shadow(0px 0px 1px #1B0000);
  }